<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <div class="container" style="text-align: center;">

        {% include 'navbar.html' %}
        
        <h1>This is our websites</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid natus vero rerum eaque cum, adipisci dolor nam impedit! Magni debitis maiores earum quo voluptatem consectetur odit, officia, vel quam delectus totam illo! Aut assumenda, eos eius molestiae dolorum consequatur aspernatur dolorem sapiente delectus molestias adipisci repellat suscipit laborum! Laudantium, dolore?</p>
            <button>Contact us</button>
        
    </div>
</body>
</html>